<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!--
    <link rel="stylesheet" href="/css/style.css"> --}}
    <title>Tech Blog</title>
</head>

<body>
    <header>
        <div class="container">
            <h1>The Tech Blog</h1>
        </div>
    </header>
    <nav>
        <div class="nav-wrapper green">
            <a href="/" class="brand-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                {{#if loggedIn}}
                <li><button class="waves-effect waves-light btn grey" id="logout">Logout</button></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
        </div>
    </nav>
    <main>
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>