<div class="container">
    <section>
        <h2> Create New Post</h2>
        <div class="row">
            <form class="create-post-form">
                <div class="row">
                    <div class="input-field">
                        <textarea type="text" id="title" class="materialize-textarea"></textarea>
                        <label class="active" for="title">Title</label>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="input-field">
                <textarea type="text" id="content" class="materialize-textarea"></textarea>
                <label class="active" for="content">Content</label>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit" name="action">Post</button>
        </form>
    </section>
</div>
{{#if posts.length}}
<section>
    <div class="container">
        <h2> Your Posts:</h2>
        {{#each posts as |post|}}
        {{>post-info}}
        {{/each}}
    </div>
</section>
{{/if}}

<script src="/js/create-post.js"></script>